<h4> Welcome to the super secure website </h4>

<p><a href='/create_user'>Click here to create an account</a></p>
<p>Existing User? <a href='/login'>Login Here</a></p>
<p>Not you? <a href='/logout'>Logout</a></p>
<p>Think you're special? <a href='/members_only'>Members Only</a></p>